# Big Mac Activities
Let's take a look at a familiar data set (the cost of big macs around the world) and analyse it using Jupyter Notebook and Pandas. This skillset will **_directly_** link to your assessment task.

Complete each activity stipulated in the comments by looking at the *even-more-python-for-beginners* provided on GitHub.

## Series
Complete the following pandas Series following the instructions in the comments:

In [28]:
import pandas as pd

#Create a pandas Series which contains 'Australia', 'Britain', 'New Zealand' and 'United States' and store them on separate lines in a variable, 'countries'. 
countires = pd.Series([
                      'Australia', 
                      'Britain', 
                      'New Zealand', 
                      'United States'
                      ])


#Print the series
countires

0        Australia
1          Britain
2      New Zealand
3    United States
dtype: object

In [29]:
#Output Britain from the list using its index
countires[1]

'Britain'

In [30]:
#Iterate through all values in countries series using a for loop
for value in countires:
    print(value)

Australia
Britain
New Zealand
United States

## DataFrame
Usually we work with two-dimensional arrays. We store them using **DataFrame** in pandas. 

### Activity
Let's use a DataFrame to store more meaningful values than our countries series. Let's store the following values in a Data Frame called 'big_mac':

**Headings:** Country, Local Price, AUD Price
- `'Australia', 7.45, 7.45`
- `'Britain', 4.19, 0.0`
- `'Japan', 450, 0.0`
- `'New Zealand', 7.1, 0.0`
- `'United States', 5.58, 0.0`

**NOTE:** You'll need to look online at current rates to convert Britain, New Zealand, Japan and United States' local prices to AUD.

In [41]:
#Add a pandas DataFrame called 'big_mac' with the above values
countires = pd.DataFrame([
                        ['Australia', 7.45, 7.45],
                        ['British', 4.19, 7.99],
                        ['Japan', 450, 4.27],
                        ['New Zealand', 7.1, 6.54],
                        ['United States', 5.58, 8.37]
                        ],
                        columns = ['Name', 'City', 'Country']
                        )


#Print the DataFrame
countires

            Name    City  Country
0      Australia    7.45     7.45
1        British    4.19     7.99
2          Japan  450.00     4.27
3    New Zealand    7.10     6.54
4  United States    5.58     8.37

## Exploring pandas DataFrames

In [51]:
#Print only the first two rows of the big_mac dataframe
countires.head(2)

        Name  City  Country
0  Australia  7.45     7.45
1    British  4.19     7.99

In [52]:
#Print only the last four rows of the big_mac dataframe
countires.tail(4)

            Name    City  Country
1        British    4.19     7.99
2          Japan  450.00     4.27
3    New Zealand    7.10     6.54
4  United States    5.58     8.37

In [53]:
#Print the number of rows and columns in the big_mac dataframe
countires.shape

(5, 3)

In [54]:
#Print some detailed information about the big_mac dataframe
countires.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     5 non-null      object
 1   City     5 non-null      float64
 2   Country  5 non-null      float64
dtypes: float64(2), object(1)
memory usage: 248.0+ bytes

## Querying DataFrames
Let's explore how we request data from a pandas DataFrame.

In [55]:
#Request and output the 'Country' and 'AUD Price' columns from the big_mac DataFrame.
countires[['Name', 'Country']]

            Name  Country
0      Australia     7.45
1        British     7.99
2          Japan     4.27
3    New Zealand     6.54
4  United States     8.37

In [59]:
#Use iloc to request the third row, all columns
countires.iloc[3,0]

'New Zealand'

In [48]:
#Use iloc to request all rows, but just the 'Country' and 'AUD Price' columns

In [49]:
#Use loc to do the same thing as the previous (Country and AUD Price all rows)